{{ define "main" }}

<div class ="tile">

  <div class="tile is-parent is-6">  
    <article class="tile is-child notification">
      
      <figure class="image is-128x128 has-image-centered">
        <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
      </figure>
      <p class="subtitle has-text-centered">Hi, I'm Akarsh</p>
      <span class = "tag is-link">Software Developer</span> <span class = "tag is-link">Music Junkie</span> <span class = "tag is-link">Blog-writer</span> <span class="tag is-link">Minimalist</span> <span class="tag is-link">Turns coffee to code</span> <span class="tag is-link">Learner</span> 
    
    </article>  
  </div>

  <div class="tile is-parent">
    <article class="tile is-child ">      
      <section class="section">
        <p class="subtitle has-text-centered">Connect with me</p>
        <p class="content">I write tutorials on Python, Machine Learning and coding problems. You can keep up with which new project I'm working on and what I tweet by following me on:</p>
      </section>
    </article>  
  </div>
</div>

{{ $pages := where site.RegularPages "Type" "in" "post" }}
<section class="section">
  <p class="title">Latest blog posts</p>
  {{ range first 5 $pages }}
    <article class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img class="is-rounded" src="{{ with .Params.image }}{{ . }}{{ end }}">
        </figure>
      </div>
      <div class="media-content">
      <p class="title is-5"><a href="{{ .Permalink }}">{{ .Title }}</a></p>
      <p class = "subtitle is-6">{{ partial "date-and-tags.html" . }}</p>
    </div>
    </article>
  {{ end }}
</section>

<figure class="image">
  <img src="http://ghchart.rshah.org/akarshsingh9" alt="Github Contribution Graph" />
</figure>

{{ end }}