{{ define "main" }}
<div>
    <figure></figure>
    <h3>Hi, I'm Akarsh Singh</h3>
    <p>I am a Software Engineer living in Bangalore, India. I enjoy developing applications, listening to music and learning new things. I aspire to develop a set of niche skills that will help me in the future. I have worked as a freelancer on a few android projects for Thailand based clients.</p> 
    <p>I started this website as a place to document everything I learn, mostly as a way to keep notes for my future self. Hopefully, these notes can be of value to other fellow developers as well. This website is free of ads, newsletter pop-ups, affiliate links, and sponsored posts. A clutter-free website to enjoy quality content.</p>
</div>

{{ $pages := where site.RegularPages "Type" "in" "articles" }}
<section>
  <h1>Latest blog posts</h1>
  {{ range first 5 $pages }}
    <article>
      <div>
        <figure><img class="is-rounded" src="{{ with .Params.image }}{{ . }}{{ end }}"></figure>
      </div>
      <div>
      <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
      </div>
    </article>
  {{ end }}
</section>

<section>
  <h1 class="title">Projects</h1>
  {{ range .Site.Data.top5proj }}
  <article>
    <div>
      <a href="{{ .link }}">{{ .name }}</a><br>
      <span class="tag is-light">{{ .type }}</span>
      <p class="content">{{ .description }}</p>
    </div>
  </article>
  {{ end }}
</section>

<section>
<h1 class="title">Experience</h1>
{{ range .Site.Data.experience }}
<article>
  <div>
    <figure>
      <img class="is-rounded" src="{{ .image }}" style="max-height: 100px; max-width: 100px;">
    </figure>
  </div>
  <div>
    <strong>{{ .designation }}</strong><br>
    <p>{{ .name }} {{ .location }}</p>
    <span class="tag is-light">{{ .time }}</span><br>
    <p>
    <ul>
      {{ range .description }}
        <li>{{ . }}</li>
      {{ end }}
    </ul>
    </p>
</div>
</article>
{{ end }} 
</section>

{{ end }}